@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

* {
	margin: 0;
}

body, input {
	background-color: white;
	color: black;
	font-family: 'Tilt Warp', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
}

input {
	background-color: transparent;
	border: 5px solid black;
	border-radius: 1em;
	font-size: 3rem;
	padding: 0.5em;
}

input:active {
	background-color: black;
	color: white;
}

input:focus, input:hover {
	cursor: pointer;
	border-style: dashed;
}

input:disabled {
	border-style: solid;
	border-color: lightgray;
	background-color: whitesmoke;
	color: lightgray;
}

@media (max-width: 800px) {
	body {
		font-size: 1.5rem;
	}

	input {
		font-size: 2rem;
	}
}
